.popup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-card {
    display: none;
    position: fixed;
    padding: 10px;
    /* width: 280px; */
    left: 50%;
    margin-left: -15vw;
    /* height: 180px; */
    top: 50%;
    margin-top: -30vh;
    /* background: #FFF; */
    /* border: 3px solid #F04A49; */
    z-index: 20;
    /* my stuff */
    width: 30vw;
    height: 70vh;
}

#popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.247);
    z-index: -2;
}

#popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0);
    z-index: -1;
}

#popup:before, #popup:after {
    border-radius: 2rem;
}

.closeBtn {
    float: right;
    margin-right: 0.2rem;
    color: rgb(255, 255, 255);
}

.sbtn-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.sBtn {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    transition: 0.3s ease-in-out;
}

.sBtn:active {
    transform: scale(1.03);
}

#rangeValue {
    color: rgb(255, 255, 255) !important;
    font-family: 'Courier New', Courier, monospace !important;
}

.rangeValue {
    color: rgb(255, 255, 255) !important;
    font-family: 'Courier New', Courier, monospace !important;
}

.deleteAdd-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 3rem;
}

.deleteBtn {
    margin-right: 0.3rem;
}

.AddBtn {
    margin-left: 0.4rem;
    margin-right: 0.6rem;
}

.popContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* align-items: flex-start; */
    /* padding: 1rem; */
    color: rgb(255, 255, 255) !important;
    font-family: 'Courier New', Courier, monospace !important;
}

.popTitle {
    color: rgb(255, 255, 255) !important;
    font-family: 'Courier New', Courier, monospace !important;
}

.popElements {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(255, 255, 255) !important;
    font-family: 'Courier New', Courier, monospace !important;
}

.popDescTitle {
    font-weight: 100px !important;
    font-size: 1.5rem;
    margin-left: -1rem !important;
}

.popDesc {
    color: rgb(255, 255, 255) !important;
    font-family: 'Courier New', Courier, monospace !important;
    margin-left: 2rem;
}

.popupcard-img {
    width: 15vw;
    align-self: center;
    border-radius: 2rem;
    border-top-left-radius: calc(2rem - 1px);
    border-top-right-radius: calc(2rem - 1px);
}

/* Styling buttons & webpage */

body {
    background: offwhite !important;
    font-family: Arial, sans-serif !important;
    text-align: center !important;
}