/* .lightbox {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5)
}

.toolbarLB {
    text-align: right;
    padding: 3px;
}

.closeLB {
    color: red;
    cursor: pointer;
}

.lightbox .iframeContainer {
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.473);
    padding: 2px;
    border-radius: 20px !important;
}

.lightbox.closed {
    display: none;
}

.iframe {
    width: 30vw;
    height: 50vh;
    vertical-align: middle
} */

.popup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-card {
    display: none;
    position: fixed;
    padding: 10px;
    /* width: 280px; */
    left: 50%;
    margin-left: -15vw;
    /* height: 180px; */
    top: 50%;
    margin-top: -30vh;
    /* background: #FFF; */
    /* border: 3px solid #F04A49; */
    z-index: 20;
    /* my stuff */
    width: 30vw;
    height: 70vh;
}

#popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.247);
    z-index: -2;
}

#popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0);
    z-index: -1;
}

#popup:before, #popup:after {
    border-radius: 2rem;
}

.closeBtn {
    float: right;
    margin-right: 0.2rem;
}

.delete {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.deleteBtn {
    float: right;
    /* height: 100%; */
    /* display: flex; */
}

.popupcard-img {
    width: 15vw;
    align-self: center;
    border-radius: 2rem;
    border-top-left-radius: calc(2rem - 1px);
    border-top-right-radius: calc(2rem - 1px);
}

/* Styling buttons & webpage */

body {
    background: offwhite !important;
    font-family: Arial, sans-serif !important;
    text-align: center !important;
}